body {
 background-color:grey;
}
h1{
  margin-left: 580px;
}
.image{
  height: 800px;
  width: auto;

}
.new{
  position: relative;
  left: 5px;
  font-size: 20px;
  width: auto;
}
.main{
  display: flex;
  justify-content: space-around;
}